body {
  background: linear-gradient(9deg, #0b2e47, transparent);
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #0c2941;
  text-align: center;
  font-size: 70px;
}
h2 {
  font-weight: 500;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
}
.weather-app {
  background-image: url(https://images.unsplash.com/photo-1495756111155-45cb19b8aeee?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  border: 1px solid #0b2e47;
  padding: 200px;
  border-radius: 30px;
  margin: 30px;
  box-sizing: border-box;
}
li {
  list-style: none;
}
li:first-letter {
  text-transform: capitalize;
}
.form-control {
  border-radius: 30px;
  display: block;
  width: 100%;
  font-weight: 400;
  line-height: 1.5;
}

.col-2 {
  background: linear-gradient(9deg, #4a606f, transparent);
  border-radius: 30px;
  opacity: 1;
  text-align: center;
}
.weather-day {
  color: rgb(129, 42, 42);
  text-align: center;
}

.col-2:hover {
  background: linear-gradient(9deg, #8ea8ba, transparent);
  border-radius: 30px;
  opacity: 1;
}
.btn-success {
  background: linear-gradient(9deg, #4a606f, transparent);
  border-radius: 30px;
  opacity: 1;
  border: none;
}
.btn-success:hover {
  background: #113957;
  border-radius: 30px;
  opacity: 1;
}
.btn-primary {
  background: cadetblue;
  border: none;
}
.btn-primary:hover {
  background: #113957;
}
.temperature {
  color: #2c3344;
  float: left;
  font-size: 60px;
  font-weight: 100;
  line-height: 1;
  padding-left: 10px;
}
.units {
  color: #333;
  float: left;
  font-size: 16px;
  line-height: 1.5;
}
li#date {
  font-size: 20px;
  color: #113957;
}

a.active {
  cursor: default;
  color: #333;
}
a.active:hover {
  text-decoration: none;
}
.weather-icon-today {
  width: 100px;
}
