body {
  background: linear-gradient(9deg, var(--secondary-color), transparent);
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}
:root {
  --primary-color: #90a2b0;
  --secondary-color: #0b2e47;
}
.light-theme {
  --primary-color: rgb(23, 43, 59);
  --secondary-color: #c0d0dc;
}

#iconTheme {
  cursor: pointer;
}
h1 {
  color: var(--primary-color);
  text-align: center;
  font-size: 100px;
  font-weight: 500;
}
h2 {
  font-weight: 500;
}

.weather-app {
  background-color: var(--secondary-color);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  padding: 70px 100px;
  border-radius: 30px;
  margin: 20px 50px 100px;
  box-sizing: border-box;
}

li {
  list-style: none;
  color: #4a606f;
}
li:first-letter {
  text-transform: capitalize;
}
.form-control {
  border-radius: 30px;
}

.weather-forecast-day {
  color: aliceblue;
  font-weight: bold;
  text-align: center;
}
.weather-icon {
  display: block;
  margin: 0 auto;
}
.col-2 {
  background: linear-gradient(9deg, #4a606f, transparent);
  border-radius: 30px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}
.col-2:hover {
  background: linear-gradient(9deg, #8ea8ba, transparent);
  border-radius: 30px;
  opacity: 1;
}
.btn-success {
  background: linear-gradient(9deg, #4a606f, transparent);
  border-radius: 30px;
  opacity: 1;
  border: none;
}
.btn-success:hover {
  background: #113957;
  border-radius: 30px;
  opacity: 1;
}
.btn-primary {
  background: cadetblue;
  border: none;
}
.temperature {
  color: #4a606f;
  float: left;
  font-size: 100px;
  font-weight: 100;
  line-height: 1;
  padding-left: 10px;
}
.units {
  color: #4a606f;
  float: left;
  font-size: 20px;
  line-height: 1.5;
}
a.active {
  cursor: default;
  color: #4a606f;
}
a.active:hover {
  text-decoration: none;
}
.weather-icon-today {
  width: 100px;
}
small {
  color: #4a606f;
}
